<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using RottenMangoes, <%= @user.full_name %></h1>
    <p>
      You're account has been terminated: <%= @user.full_name %>.<br>
    </p>
  </body>
</html>